<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Order List</h2>
    </div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Payment Method</th>
            <th>Delivery Method</th>
            <th>Payment Status</th>
            <th>Order Status</th>
            <th>Features</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orders : ${orderslist}">
            <td th:text="${orders.id}"></td>
            <td th:text="${orders.paymentMethod}"></td>
            <td th:text="${orders.deliveryMethod}"></td>
            <td th:text="${orders.paymentStatus}"></td>
            <td th:text="${orders.orderStatus}"></td>
            <td>
                <a th:href="@{/orders/update/{id}(id=${orders.id})}" class="btn btn-primary">Update></a>
                <a th:href="@{/orders/delete/{id}(id=${orders.id})}" class="btn btn-danger">Delete></a>
            </td>
        </tr>



        </tbody>
    </table>
    <a th:href="@{/orders/create}" class="btn btn-primary">Create Order</a>
</div>
</body>
</html>