<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Has Product List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Order - Products</h2>
        </div>
        <form th:object="${orderHasProducts}" th:action="@{/orderHasProduct/update}" method="post">

            <input type="hidden" th:field="*{id}" />

            <label for="quantity">Quantity:</label>
            <input type="text" id="quantity" name="quantity" required><br>

            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>
