<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order - Products List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Order - Products</h2>
        </div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Quantity</th>
                    <th>Orders</th>
                    <th>Product</th>
                    <th>Features</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="orderHasProduct : ${orderHasProducts}">
                <td th:text="${orderHasProduct.id}"></td>
                <td th:text="${orderHasProduct.quantity}"></td>
                <td th:text="${orderHasProduct.orders.id}"></td>
                <td th:text="${orderHasProduct.product.title}"></td>
                <td>
                    <a th:href="@{/orderHasProduct/update/{id}(id=${orderHasProduct.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/orderHasProduct/delete/{id}(id=${orderHasProduct.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>

            <a th:href="@{/orderHasProduct/create}" class="btn btn-primary">Create</a>


            </tbody>
        </table>
    </div>
</body>
</html>
